@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.heading-1, .heading-2, .heading-3, .heading-4 {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}